<!-- Template JS Files -->
<script src="{{ 'js/jquery-3.5.0.min.js' | relative_url }}"></script>
<script src="{{ 'js/styleswitcher.js' | relative_url }}"></script>
<script src="{{ 'js/preloader.min.js' | relative_url }}"></script>
<script src="{{ 'js/fm.revealator.jquery.min.js' | relative_url }}"></script>
<script src="{{ 'js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
<script src="{{ 'js/masonry.pkgd.min.js' | relative_url }}"></script>
<script src="{{ 'js/classie.js' | relative_url }}"></script>
<script src="{{ 'js/cbpGridGallery.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.hoverdir.js' | relative_url }}"></script>
<script src="{{ 'js/popper.min.js' | relative_url }}"></script>
<script src="{{ 'js/bootstrap.js' | relative_url }}"></script>
<script src="{{ 'js/custom.js' | relative_url }}"></script>
{%- include google-analytics.html -%}